body{
    background-color: blue;
    color: white;
    font-family: "Playfair Display", serif;
}

section{
    background: rgb(229, 65, 153);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.chamada_video{
    margin-left: 20px;
}

img{
    height: 200px;
}

.categorias_videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}
.chamada{
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
p{
    font-size: 20px;
}