body{
    color: rgb(0,255,255);
    background-color: black;
}
section{
    background: rgba(72, 0, 255, 0.928);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

header{
    padding-top: 20%;
    padding-bottom: 20%;
}

div{
    margin-right: 20px;
}